NODE_ENV=development

PORT=5600

BACKEND_BASE_URL=http://localhost:5500
BACKEND_EMAIL='john@example.com'
BACKEND_PASSWORD='securepassword'
BACKEND_JWT_TOKEN=

BACKEND_CUSTOMER_ID=

EXTERNAL_TRANSACTION_API_URL=
EXTERNAL_BLOCK_HEIGHT_API_URL=
EXTERNAL_CONTRACT_LOGS_URL=
EXTERNAL_BLOCK_RANGE_API_URL=
EXTERNAL_SECRET_KEY=
EXTERNAL_APP_ID=
EXTERNAL_SID=

CONNECTOR_URL=
